---
hosts:
{% for host in wakelet_hosts %}
  - name: {{ host.name }}
    mac: {{ host.mac }}
{% if host.holdup_timer is defined %}
    holdup_timer: {{ host.holdup_timer }}
{% endif %}
{% endfor %}
{% if wakelet_ups %}
ups:
{% for u in wakelet_ups %}
  - nut_name: {{ u.nut_name }}
    display_name: {{ u.display_name }}
{% endfor %}
{% endif %}
