SECRET_KEY={{ vm_builder_dashboard_secret_key_effective }}
DB_PATH={{ vm_builder_dashboard_db_path }}
AGENT_PKI_DIR={{ vm_builder_dashboard_agent_pki_dir }}
AGENT_HEALTH_INTERVAL={{ vm_builder_dashboard_agent_health_interval }}
AGENT_TIMEOUT_SECONDS={{ vm_builder_dashboard_agent_timeout_seconds }}
AGENT_HEALTH_TIMEOUT_SECONDS={{ vm_builder_dashboard_agent_health_timeout_seconds }}
AGENT_TLS_INSECURE_SKIP_VERIFY={{ vm_builder_dashboard_agent_tls_insecure_skip_verify | ternary('true', 'false') }}
