[Unit]
Description=vm-builder-apiserver
Documentation=https://github.com/tlhakhan/vm-builder-apiserver
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/usr/bin/mkdir -p {{ vm_builder_apiserver_registry_dir }}
ExecStartPre=/usr/bin/mkdir -p {{ vm_builder_apiserver_private_dir }}
ExecStart={{ vm_builder_apiserver_binary }} \
  --listen       {{ vm_builder_apiserver_listen }} \
{% if vm_builder_apiserver_agent_mtls %}
  --agent-mtls \
{% endif %}
{% if vm_builder_apiserver_agent_insecure_skip_verify %}
  --agent-insecure-skip-verify \
{% endif %}
  --private-dir  {{ vm_builder_apiserver_private_dir }} \
  --registry-dir {{ vm_builder_apiserver_registry_dir }} \
  --health-interval {{ vm_builder_apiserver_health_interval }}

Restart=on-failure
RestartSec=5s

StandardOutput=journal
StandardError=journal
SyslogIdentifier=vm-builder-apiserver

User=root
Group=root

[Install]
WantedBy=multi-user.target
